@charset "UTF-8";


@media screen and (min-width: 768px) {  
    #background {
        background-attachment: fixed;
    }
    
    #infoContato {
        padding-top: 10px;
        padding-right: 20px;
        height: 10vh;    
    }

    span#burguer {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        padding: 0px;
    }
    
    h1#titulo a {
        font-size: 30px;
        padding-left: 100%;
        margin: auto;
        display: flex;
        text-align: center;
    }

    #itens ul {
        margin-top: 8px; 
        padding: 0px; 
        display: flex;
        list-style: none;
    }

    #itens ul li {
        display: flex;
        margin-left: 40px;
        margin-right: 40px; 
    }
    
    .menu a {
        margin: auto;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 ;
        color: #CDA45E;
        white-space: nowrap;
        transition: 0.3s;
        font-size: 18px;
        text-align: center;

    }
    
}